<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084359754901-erupln5p92k1478t6bki5k3m0j93n8vn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084359754901-erupln5p92k1478t6bki5k3m0j93n8vn</string>
	<key>API_KEY</key>
	<string>AIzaSyAmLP-g3GtOfXUV_nI2IZAfKe5rdCLuIzc</string>
	<key>GCM_SENDER_ID</key>
	<string>1084359754901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>school21.CourseWork</string>
	<key>PROJECT_ID</key>
	<string>internshipaggregator</string>
	<key>STORAGE_BUCKET</key>
	<string>internshipaggregator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084359754901:ios:7d4af788cc4c0010a1479c</string>
</dict>
</plist>